.jumbotron {
	background-image:url('../img/naturebox-snacks.jpg');
	background-repeat: no-repeat;
	height: 700px;
	width: 100%;
	background-size: cover;
}

.jumbotron .container h1 {
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	margin-top: 50px;
}

.glyphicon-align-justify {
    font-size: 40px;
    color: white;
    margin-left: 30px;
    border: 1px solid black;
    padding: 5px;
}

.media-section h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	color: black;
	text-align: center;
	
}

.glyphicon-chevron-down{
	font-size: 40px;
    color: white;
}

.twitter-tweet {
	border: 1px solid black;
	padding: 10px;
}

.multiple-items p {
	font-size: 16px;
	font-family: 'Ek Mukta', sans-serif;
}

.carousel {
	width: 800px;
	height: 200px;
	margin: 0 auto;
}

.slick-prev:before, .slick-next:before {
	color: black;
}