.jumbotron {
	background-image:url('../img/naturebox-snacks.jpg');
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
	background-size: cover;
}

.jumbotron .container h1 {
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	margin-top: 50px;
}

.glyphicon-align-justify {
    font-size: 40px;
    color: white;
    margin-left: 30px;
    border: 1px solid black;
    padding: 5px;
}

.glyphicon-align-justify {
    font-size: 40px;
    color: white;
    margin-left: 30px;
    border: 1px solid black;
    padding: 5px;
}

.glyphicon-chevron-down{
	font-size: 40px;
    color: white;
}

